In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df=pd.io.parsers.read_csv('data.csv')

In [3]:
df.columns

Index([u'title', u'year', u'length', u'rating', u'votes', u'r1', u'r2', u'r3', u'r4', u'r5', u'r6', u'r7', u'r8', u'r9', u'r10', u'mpaa', u'Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'], dtype='object')

In [10]:
df['All']=1
df_1=pd.melt(df, id_vars=[u'title','rating'], \
        value_vars=['Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'])

df_1=df_1[df_1['value']==1][['variable','rating']]
df_1.rename(columns={'variable': 'group', 'rating':'rating'}, inplace=True)
df_1=df_1.groupby('group').count().reset_index()
df_1.rename(columns={'group': 'category', 'rating':'measure'}, inplace=True)
df_1

      category  measure
0       Action     4688
1    Animation     3690
2       Comedy    17271
3  Documentary     3472
4        Drama    21811
5      Romance     4744
6        Short     9458

In [5]:
df_1.T.to_json('df_1.json')

In [6]:
df_2=pd.melt(df, id_vars=[u'title','rating','year'], \
        value_vars=['All','Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'])
df_2=df_2[df_2['value']==1]
df_2=df_2.groupby(['year','variable']).mean().reset_index()
df_2.rename(columns={'variable': 'group', 'rating':'rating'}, inplace=True)
df_2=df_2[['year','group','rating']]
df_2.rename(columns={'group': 'group', 'rating':'measure','year':'category'}, inplace=True)

In [7]:
df_2.T.to_json('df_2.json')

In [9]:
df_3=pd.melt(df, id_vars=list(df.columns[:15]), \
        value_vars=['All','Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'])
df_3=df_3[df_3['value']==1]
df_3=df_3.groupby(['variable']).\
apply(lambda g:np.mean(g[['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10']])).reset_index()
df_3.rename(columns={'variable': 'group'}, inplace=True)

df_3=pd.melt(df_3, id_vars=[u'group'], \
        value_vars=['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10'])
df_3.rename(columns={'group': 'group', 'value':'measure','variable':'category'}, inplace=True)
df_3

          group category    measure
0        Action       r1  10.350256
1           All       r1   7.014382
2     Animation       r1   2.881843
3        Comedy       r1   6.442042
4   Documentary       r1   5.983007
5         Drama       r1   6.005662
6       Romance       r1   5.647028
7         Short       r1   5.334214
8        Action       r2   6.127453
9           All       r2   4.022377
10    Animation       r2   2.022764
11       Comedy       r2   3.865931
12  Documentary       r2   2.564516
13        Drama       r2   3.773853
14      Romance       r2   3.865831
15        Short       r2   2.532671
16       Action       r3   6.846736
17          All       r3   4.721159
18    Animation       r3   3.250000
19       Comedy       r3   4.628539
20  Documentary       r3   3.042051
21        Drama       r3   4.329742
22      Romance       r3   4.499895
23        Short       r3   3.373493
24       Action       r4   8.054714
25          All       r4   6.374847
26    Animation       r4   5.169241
27       Comedy       r4   6.339181
28  Documentary       r4   3.853255
29        Drama       r4   6.004883
..          ...      ...        ...
50    Animation       r7  18.974932
51       Comedy       r7  16.597736
52  Documentary       r7  14.536434
53        Drama       r7  16.476457
54      Romance       r7  17.039840
55        Short       r7  16.254229
56       Action       r8  10.737201
57          All       r8  13.875995
58    Animation       r8  17.091463
59       Comedy       r8  14.107405
60  Documentary       r8  16.467742
61        Drama       r8  15.192793
62      Romance       r8  15.291315
63        Short       r8  14.990590
64       Action       r9   6.770691
65          All       r9   8.954208
66    Animation       r9   8.736450
67       Comedy       r9   8.370419
68  Documentary       r9  12.679147
69        Drama       r9   9.850672
70      Romance       r9   9.516653
71        Short       r9   9.916737
72       Action      r10  14.544582
73          All      r10  16.854018
74    Animation      r10  16.761653
75       Comedy      r10  15.991981
76  Documentary      r10  24.677131
77        Drama      r10  16.771606
78      Romance      r10  16.194772
79        Short      r10  20.867942

[80 rows x 3 columns]

In [41]:
df_3.T.to_json('df_3.json')

In [115]:
df_1.to_csv('first_bar.csv')
df_2.to_csv('line.csv')
df_3.to_csv('second_bar.csv')