In [4]:
import pandas as pd
import numpy as np
import json

In [5]:
df=pd.io.parsers.read_csv('data.csv')

In [6]:
df.columns

Index([u'title', u'year', u'length', u'rating', u'votes', u'r1', u'r2', u'r3', u'r4', u'r5', u'r6', u'r7', u'r8', u'r9', u'r10', u'mpaa', u'Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'], dtype='object')

In [14]:
df['all_categories']=1
df_1=pd.melt(df, id_vars=[u'title','rating'], \
        value_vars=['Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'])

df_1=df_1[df_1['value']==1][['variable','rating']]
df_1.rename(columns={'variable': 'group', 'rating':'rating'}, inplace=True)
df_1=df_1.groupby('group').count().reset_index()
df_1.rename(columns={'group': 'category', 'rating':'measure'}, inplace=True)
df_1

      category  measure
0       Action     4688
1    Animation     3690
2       Comedy    17271
3  Documentary     3472
4        Drama    21811
5      Romance     4744
6        Short     9458

In [15]:
df_1.T.to_json('df_1.json')

In [18]:
df_2=pd.melt(df, id_vars=[u'title','rating','year'], \
        value_vars=['all_categories','Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'])
df_2=df_2[df_2['value']==1]
df_2=df_2.groupby(['year','variable']).mean().reset_index()
df_2.rename(columns={'variable': 'group', 'rating':'rating'}, inplace=True)
df_2=df_2[['year','group','rating']]
df_2.rename(columns={'group': 'group', 'rating':'measure','year':'category'}, inplace=True)
df_2[:2]

   category           group  measure
0      1893           Short        7
1      1893  all_categories        7

In [19]:
df_2.T.to_json('df_2.json')

In [20]:
df_3=pd.melt(df, id_vars=list(df.columns[:15]), \
        value_vars=['All','Action', u'Animation', u'Comedy', u'Drama', u'Documentary', u'Romance', u'Short'])
df_3=df_3[df_3['value']==1]
df_3=df_3.groupby(['variable']).\
apply(lambda g:np.mean(g[['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10']])).reset_index()
df_3.rename(columns={'variable': 'group'}, inplace=True)

df_3=pd.melt(df_3, id_vars=[u'group'], \
        value_vars=['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10'])
df_3.rename(columns={'group': 'group', 'value':'measure','variable':'category'}, inplace=True)
df_3[:3]

       group category    measure
0     Action       r1  10.350256
1  Animation       r1   2.881843
2     Comedy       r1   6.442042

In [21]:
df_3.T.to_json('df_3.json')

In [115]:
df_1.to_csv('first_bar.csv')
df_2.to_csv('line.csv')
df_3.to_csv('second_bar.csv')